<html>
  <head>
    <title>USS - admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>


    <p>Admin</p>
    <hr>

    <form action="" method="post" id="launch_buttons">
      <div>
        <p>Add hint:</p>
        <span><input type="text" placeholder="hint" name="hint"></input></span>
        <span><button class="btn btn-secondary" type="submit" name="action" value="submit">Submit</button></span>
      </div>
    </form>

    <form action="" method="POST">
        <p>Admin stuff:</p>
        <input class="btn btn-primary" type="submit" name="action" value="purge_g"></input> 

    </form>

    <h3>Users</h3>
    
    <table>
      <tr><th>id</th><th>Name</th><th>Username</th><th>Date</th><th>Inv.code</th><th>lvl</th><th>found</th><th>last_date</th></tr>
      
      {% for u in users %}

      
        <tr><td>{{u[0]}}</td><td>{{u[1]}}</td><td>{{u[2]}}</td><td>{{u[4]}}</td><td>{{u[5]}}</td><td>{{u[6]}}</td><td>{{u[7]}}</td><td>{{u[9]}}</td></tr>

        
      {% endfor %}

    </table>

    

    <h3>Planets</h3>

   
    {% for p in planets %}
      <p >{{p}}</p>
    {% endfor %}

    <h3>Invitation codes</h3>

    {% for i in invitation_codes %}
    <p >{{i}}</p>
    {% endfor %}

    <h3>Reports</h3>

    {% for i in reports %}
    <p >{{i}}</p>
    {% endfor %}

    <hr>

    {{message}}

    <hr>
    <p>bottom</p>


  </body>
</html> 