<html>
  <head>
    <title>USS - Main</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono" />
    <!--link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel=stylesheet type=text/css href="../static/style.css">

  </head>
  <body>
    <div class="container">
        <div class="top">
            <div class="top-bar">
              <form method="POST" action="">
                <button class="top-btn" type="submit" name="L" value="logout">L</button>
                <button class="top-btn">[..]</button>
                <button class="top-btn">{..}</button>
                <button class="top-btn">A</button>
              </form>
            </div>

            <div class="title">
                Universal Search System
            </div>
            <div class="logo">
                <img class="logo-pic" src="static/images/Planet_Search_Logo.png">
            </div>
        </div>

        <div class="center-total">
          <div class="tiles">
            <form action="" method="post" id="launch_buttons">
              <div class="tile" id="launch_button">
              <button style="{{css}}" class="launch-btn" type="submit" name="launch" value="launch">Launch</br>Probe</button>
              </div>
              <div class="tile">
                <button class="launch-btn" type="submit" name="read" value="read">Read</br>Data</button>
              </div>
              <div class="tile">
                <button class="launch-btn" type="submit" name="report" value="report">Read</br>Reports</button>
              </div>
            </form>
          </div>

          <div class="main-center-index">
              <div class="mc-title"><h6>Title</h6></div>
              <div class="message">
                {{message}}
              </div>
          </div>
        </div>

        <div class="footer">
            <hr>
            <div class="footer-left">
                Status : Logged in
            </div>
            <div class="footer">
              <div class="footer-center">
                  User : {{user}}
              </div>
            <div class="footer-right">
                ID : 100299188291
            </div>

        </div>
    </div>

  </body>


</html>